{% extends 'layout.html' %}

{% block titulo %}
    clima
{% endblock %}

{% block contenido %}
    <h2 style="color: azure;">Tiempo personalizado</h2>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese Ciudad">
        </div>
        <button style="margin-top: 10px;" id="consultaClima" type="button" class="btn btn-primary margenTop10" onclick="cargar_clima()">Consultar
            Clima</button>
    </form>

   <div id="datosDelClima" style="margin-top: 20px; color: azure;">
        <p id="datosCiudad" >La temperatura para <span id="ubicacion"></span> es : <span>
        <p id="temperatura"></span>º</p>
        <p id="datosCiudad">Humedad Relativa <span id="humedad"></span> % Porciento</p>
        <p id="datosCiudad">Velocidad del Viento <span id="velocidadviento"></span> KM/H</p>
    </div>

    
{% endblock %}