{% extends 'layout.html' %}

{% block titulo %}
    contacto
{% endblock %}

{% block contenido %}
    <div>
        <h2 style="color: azure;">Ingresar datos de contacto</h2>
    </div>

    <div class="row">
        <form name="formulario" method="POST">
            <div class="form-group" style="margin-top: 50px;"> 
                <input type="text" class="form-control" id="nombre" required name="nombre" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <input type="number" class="form-control" id="edad" required min="18" max="70" name="edad" placeholder="Ingresar Edad">
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <input type="email" class="form-control" id="correo" required name="correo" placeholder="Ingresar Correo electrónico">
            </div>
            <div class="form-group"style="margin-top: 30px;">
                <p><textarea name="text" id="mensaje" cols="50" rows="5" placeholder="Redactar el mensaje" si></textarea></p>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <input type="checkbox" id="casilla" required name="casilla" >&nbsp;&nbsp;Acepta condiciones
            </div>

            <div style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary" onclick="validar_envio()" >Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}


