{% extends 'layout.html' %}

{% block titulo %}
    Agregar Nueva Reserva
{% endblock %}

{% block contenido %}
    <h1>Ingresar de nueva reserva</h1>
    <form action="{% url 'guardarMascota' %}" method="POST" style="margin-top: 100px;">
        {% csrf_token %}
        <ul style="color: azure;">
            <ol>
                <strong >Código</strong><input type = "text" name ="codigo"/>
                <strong>Dirección<input type = "text" name ="nombre"/></strong>
            </ol>
            <ol style="text-align: center; margin-top: 50px;">
                <input class="btn btn-warning" type = "submit" value ="Guardar Mascota"/><br/>
            </ol>
        </ul>
        

        

    </form>

{% endblock %}