.navegador {
    margin-top: 20px;
}

.card {
    left: 25px;
    margin-left: 5px;
    background-color: whitesmoke;
}

a {
    color: whitesmoke;
    margin-top: 20px;
}

a:hover {
    color: red;
}